@import "bootstrap";

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

h1 {
    color: #008080;
    text-align: center;
}

h2 {
    color: #FFFFFF;
    text-align: center;
    background-color: #000000;
}

h6 {
    font-size: 8pt;
}