<div class="col-10 offset-1">
    <ul>
        <li>Here's a helpful Ruby Tutorial site - <a href="http://rubylearning.com/" target="_blank">Ruby Learning</a></li>
        <li>Ruby documentation can be found here - <a href="https://ruby-doc.org/" target="_blank">Ruby Docs</a></li>
        <li>Need tips? Look here - <a href="http://www.caliban.org/ruby/rubyguide.shtml#tips" target="_blank">Ruby Tips</a></li>
    </ul>
</div>

<div class="col-12">
    <h2>Happy coding!</h2>
</div>

<div class="col-sm-4">
    <h6>Designed by <a href="https://melissaroetker.netlify.com/" style="color:#6734eb">Melissa Roetker</a></h6>
</div>